header.site-header
  background-color: $green-color
  background-image: url('images/menu-pattern.svg')
  background-repeat: no-repeat
  background-position: 770px -23px
  
.headerinner
  @include container(1200px)

.site-branding
  @include span(12)
  height: 90px

  img, object
    margin-top: 37px
    height: 37px
    width: auto

//For Apyrum header
img.apyrum-logo
  height: 42px
  margin-top: 35px