header.site-header
  background-color: $green-color
  background-image: url('images/menu-pattern.svg')
  background-repeat: no-repeat
  background-position-x: 800px
  background-position-y: -393px
  
.headerinner
  @include container(1200px)

.site-branding
  @include span(12)
  height: 90px

  img, object
    margin-top: 35px
    height: 33px
    width: auto

//For Apyrum header
object.deflamo-logo
  width: 120px
  height: 30px
  position: absolute
  top: 74px
  right: 430px