.navcontainer
  background-color: #FFFFFF

.navinner
  @include container(1200px)

.main-navigation
  position: relative
  @include span(12)

  li:hover
    background-color: #000000

    a
      color: #FFFFFF

  a
    color: #000000
    padding: 5px 10px 5px 10px

#lang_sel_list
  height: 0

  ul
    position: absolute
    bottom: 34px
    right: 75px

  li
    background-color: #FFFFFF
    border-radius: 5px 5px 0 0
    margin: 0px 5px 0px 5px !important
    padding: 4px 10px 4px 10px !important

    &:hover
      background-color: #000000

      a
        color: #FFFFFF !important
        background-color: #000000

  a
    font-family: 'HelveticaNeue' !important
    color: #000000 !important
    font-size: 1em
    padding: 5px 10px 5px 10px !important

ul.sub-menu,
ul.children
  background-color: #FFFFFF
  top: 2.1em !important

  li

    a
      color: $green-color !important

  li:hover

    a
      color: #FFFFFF !important