.navcontainer
  background-color: #FFFFFF

.navinner
  @include container(1200px static)

.main-navigation
  position: relative
  margin-left: -11px!important
  @include span(12)

  li:hover
    background-color: #000000

    a
      color: #FFFFFF
      text-decoration: none

  li.current_page_item
    background-color: #000000

    a
      color: #FFFFFF !important

  li.current-menu-parent
    background-color: #000000
    
    & > a
      color: #FFFFFF

  a
    color: #000000
    padding: 5px 10px 5px 10px
  
    &:visited
      color: #000000

#lang_sel_list
  height: 0

  ul
    position: absolute
    top: -29px
    right: 62px

  li
    background-color: #FFFFFF
    border-radius: 5px 5px 0 0
    margin: 0px 5px 0px 5px !important
    padding: 4px 5px 1px 5px !important

    &:hover
      background-color: #000000

      a, a.lang_sel_sel
        color: #FFFFFF
        background-color: #000000

  a
    font-family: 'HelveticaNeue' !important
    color: #000000
    font-size: 15px
    padding: 3px 7px 3px 7px !important

a.lang_sel_other
  opacity: 0.5

ul.sub-menu,
ul.children
  background-color: #FFFFFF
  top: 2.1em !important

  li

    a
      color: #000000 !important

  li:hover

    a
      color: #FFFFFF !important