img.orbit-image
  @include span(12)

.orbit-item
  @include span(4 inside)
  position: relative
  background-color: #000000
  padding: 15px
  vertical-align: top
  &:last-child
    @include span(4 last)

  &.active
    background-color: $green-color

  &:after
    bottom: 100%
    left: 50%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none
    border-bottom-color: $green-color
    border-width: 20px
    margin-left: -20px

    // written by backender, may not be too good...
    opacity: 0
    transition: all .25s ease-in-out
    -moz-transition: all .25s ease-in-out
    -webkit-transition: all .25s ease-in-out


  &.active:after
    opacity: 1

  h2, p
    color: #FFFFFF
    margin: 0

  h2
    font-size: 1.4em
    font-weight: 700
    text-transform: uppercase



// jag lägger mina image-carousel styles här. Flytta gärna om det finns ett bättre ställe

// temp location
.hide
  display: none

.image-carousel
  position: relative

  .image
    position: absolute

    display: none

    .text
      position: absolute

    &.active
      display: inline

  .trigger
    margin-top: 224px

    transition: all .25s ease-in-out
    -moz-transition: all .25s ease-in-out
    -webkit-transition: all .25s ease-in-out
