h1
  font-size: 1.6em
  color: $green-color
  margin-bottom: 10px

  a
    color: #000000
    text-decoration: none
    &:visited
      color: #000000

h2
  font-weight: 700

.hero
  background-image: url('images/hero-background.png')
  height: 300px

.hero-container
  @include container(1200px)

.hero-tagline
  @include span(6)

  h1
    margin-top: 100px
    color: white
    font-size: 3.3em
    line-height: 1em
    text-transform: uppercase

.hero-icon
  @include span(3 last)

  img
    margin-top: 50px

.content-container
  margin-top: 30px
  margin-bottom: 30px
  @include container (1200px)

.main-content
  @include span(9)

  article
    border-bottom: 1px solid $dark-grey-color
    padding-bottom: 30px
   
    &:last-child
      border-bottom: none