.portraits
  @include span(10)
  margin-bottom: 30px

  .employee
    @include span(4)
    &:last-child
      @include span (4 last)

    ul
      list-style-type: none
      margin: 10px 20px 0px 20px

.contact
  @include span(full)

  section.contact-form
    @include span(isolate 10 at 2)

    span
      @include span (full)
      position: relative
      margin: 10px 0px 10px 0px

    label
      @include span(2 of 10)
      text-align: right
      margin-top: 4px

    input, textarea
      @include span(7 of 10)

    input, textarea, button
      border: 1px solid $light-grey-color
      +border-radius(0)

    textarea
      resize: none
      height: 100px

    button
      @include span(1 of 10 last)
      background-color: #FFFFFF
      position: absolute
      bottom: 0