.news

  h1
    font-size: 1.4em
    margin: 10px 0px 0px 0px
    color: #000000
    text-transform: uppercase

  article
    border-bottom: 1px solid $dark-grey-color
    padding-bottom: 30px
   
    &:last-child
      border-bottom: none

.entry-content
  margin-top: 0

.entry-meta

  a
    color: #000000
    text-decoration: none
    
    &:hover
      color: #000000
      text-decoration: underline

.post-navigation
  @include span(10)

a.more-link
  color: #000000
  text-decoration: none

  &:hover
    color: #000000
    text-decoration: underline